/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */

#about,
#blog,
#portfolio,
#services {
	clear: both;
	overflow: hidden;
}

#about,
#services {
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 60px 0 36px;
}

#about {
	font-size: 26px;
}

#about .entry-meta a:hover,
#about .entry-title a,
#about a:hover,
#services .entry-meta a:hover,
#services .entry-title a,
#services a:hover {
	color: #fff;
}

#about .entry-meta a,
#about .entry-title a:hover,
#services .entry-meta a,
#services .entry-title a:hover {
	color: #ccc;
}

#portfolio {
	padding: 60px 0 16px;
}

#blog {
	padding: 60px 0 0;
}

.lp-home .content .featuredpage,
.lp-home .content .featuredpost .entry,
#services .alignright {
	float: left;
	margin-right: 5.263157894737%; /* 60px / 1140px */
	width: 29.824561403509%; /* 340px / 1140px */
}

#services .alignleft {
	width: 64.912280701754%; /* 740px / 1140px */
}

.lp-home .content .featuredpage:nth-of-type(3n+3),
.lp-home .content .featuredpost .entry:nth-of-type(3n+3) {
	margin-right: 0;
}

.lp-home .content .featuredpage:nth-of-type(3n+1),
.lp-home .content .featuredpost .entry:nth-of-type(3n+1) {
	clear: left;
}

#blog .widget-title,
#portfolio .widget-title {
	margin-bottom: 24px;
}

.lp-home .content .featuredpost h4,
.lp-home .content .featuredpost ul,
.lp-home .content .featuredpost .more-from-category {
    clear: both;
}

.lp-home #about .widget-title {
	font-size: 40px;
}

.lp-home #about .widget_text {
	width: 65.81196581196582%;
	float: left;
}

.lp-home #about .featuredpage {
	margin-right: 0;
	margin-bottom: 0;
}


/* Entries
--------------------------------------------- */

.entry {
	border-radius: 3px;
	margin-bottom: 40px;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 24px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 24px;
}

.entry-content ol > li,
.widget ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-content img {
	border-radius: 3px;
}

.entry-meta {
	clear: both;
	color: #888;
	font-size: 14px;
}

.entry-meta a {
	color: #888888;
}

.entry-meta a:hover {
	color: #27b4b2;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.page-template-page_blog .entry-header .entry-meta {
	margin-bottom: 0;
}

.entry-footer .entry-meta::before {
	border-top: 1px solid #888888;
	content: "";
	display: block;
	padding-bottom: 32px;
	width: 10%;
}

.single-lp_portfolio .entry-footer .entry-meta::before {
	border-top: none;
	padding-bottom: 0;
}

.entry-comments-link::before {
	content: "\f004";
	margin: 0 6px 0 2px;
	color: $color-buttercup;
	font-family: "FontAwesome";
}

.entry-categories,
.entry-tags {
	display: block;
}

.page-id-4557 .entry-content .checklist {
	margin-bottom: 24px;
	p {
		margin-bottom: 0;
		input {
			margin-right: 10px;
		}
		&.checked {
			color: #ccc;
		}
	}
}

/* After Entry
--------------------------------------------- */

.after-entry {
	background-color: #222;
	color: #fff;
	margin-bottom: 40px;
	padding: 8%;
	text-align: center;
}

.after-entry .widgettitle {
	color: #fff;
	font-size: 20px;
}

.after-entry .entry-title a,
.after-entry .widget .entry-meta a:hover {
	color: #fff;
}

.after-entry .widget .entry-meta a {
	color: #ccc;
}

.after-entry .entry-title a:hover {
	color: #27b4b2;
}

.after-entry p:last-child {
	margin: 0;
}

.after-entry li {
	list-style-type: none;
}

.after-entry li a {
	color: #999;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	clear: both;
	margin: 40px 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #222;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #27b4b2;
	color: #fff;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

li.comment.bypostauthor {
	border-left: 10px solid #ccc;
}

.comment .avatar {
	margin: 0 16px 24px 0;
	border-radius: 3px;
}

.comment-header {
	font-size: 16px;
	line-height: 1.4;
}

.comment-header .comment-meta {
	margin-bottom: 12px;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}

/* Portfolio */

.post-type-archive-lp_portfolio h2.entry-title {
  font-size: 18px;
  font-weight: 300;
}
