/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */

#about,
#blog,
#portfolio,
#services {
	clear: both;
	overflow: hidden;
}

#about,
#services {
	background-color: $color-thunder;
	color: #fff;
	font-size: 20px;
	padding: 60px 0 36px;
}

#about .entry-meta a:hover,
#about .entry-title a,
#about a:hover,
#services .entry-meta a:hover,
#services .entry-title a,
#services a:hover {
	color: #fff;
}

#about .entry-meta a,
#about .entry-title a:hover,
#services .entry-meta a,
#services .entry-title a:hover {
	color: #ccc;
}

.front-page-1 {
	font-style: italic;
	margin-bottom: 80px;
	padding-bottom: 0;
	border-left: 10px solid #eee;
	padding-left: 20px;
}

.front-page-1 .widget {
	margin-bottom: 40px;
}

.front-page-1 .widget:last-child {
	margin-bottom: 0;
}

.front-page-1 .widget-area {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	font-family: "Playfair Display";
}

.front-page-1 .widget-title {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 10px;
	text-transform: none;
}
.front-page-1 .textwidget {
	font-size: 24px;
  line-height: 1.5;
}

.front-page-1 p:last-child {
	margin-bottom: 0;
}

.content .front-page-1 .widget a.button,
.front-page-1 button,
.front-page-1 input[type="button"],
.front-page-1 input[type="reset"],
.front-page-1 input[type="submit"],
.front-page-1 .entry-content a.button,
.front-page-1 .entry-content a.more-link {
	border: 1px solid #fff;
	color: #fff;
	margin-top: 40px;
}

.content .front-page-1 .widget a.button:hover,
.content .front-page-1 .widget a.button:focus,
.front-page-1 button:hover,
.front-page-1 button:focus,
.front-page-1 input:hover[type="button"],
.front-page-1 input:focus[type="button"],
.front-page-1 input:hover[type="reset"],
.front-page-1 input:focus[type="reset"],
.front-page-1 input:hover[type="submit"],
.front-page-1 input:focus[type="submit"],
.front-page-1 .entry-content a.button:hover,
.front-page-1 .entry-content a.button:focus,
.front-page-1 .entry-content a.more-link:hover,
.front-page-1 .entry-content a.more-link:focus {
	border: 1px solid #fff;
	background-color: #fff;
	color: #333;
}

#portfolio {
	padding: 60px 0 16px;
}

#blog {
	padding: 60px 0 0;
}

.lp-home .content .featuredpage,
.lp-home .content .featuredpost .entry,
#services .alignright {
	float: left;
	margin-right: 5.263157894737%; /* 60px / 1140px */
	width: 29.824561403509%; /* 340px / 1140px */
}

#services .alignleft {
	width: 64.912280701754%; /* 740px / 1140px */
}

.lp-home .content .featuredpage:nth-of-type(3n+3),
.lp-home .content .featuredpost .entry:nth-of-type(3n+3) {
	margin-right: 0;
}

.lp-home .content .featuredpage:nth-of-type(3n+1),
.lp-home .content .featuredpost .entry:nth-of-type(3n+1) {
	clear: left;
}

#blog .widget-title,
#portfolio .widget-title {
	margin-bottom: 24px;
}

.lp-home .content .featuredpost h4,
.lp-home .content .featuredpost ul,
.lp-home .content .featuredpost .more-from-category {
    clear: both;
}


/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 5%;
	padding-bottom: 5%;
}

.entry-content a {
	border-bottom: 5px solid rgba($color-pictonblue, 0.6);
  display: inline-block;
  margin-bottom: 4px;
  line-height: 0.6;
	text-decoration: none;

	&:hover {
		color: $color-thunder;
		border-bottom-color: $color-pictonblue;
	}
}

.entry-content img {
	border-radius: 3px;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 24px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 24px;
}

.entry-content ol > li,
.widget ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	clear: both;
	color: lighten($color-thunder, 60%);
	font-size: 12px;
}

.entry-meta a {
	color: lighten($color-thunder, 60%);
}

.entry-meta a:hover {
	color: lighten($color-thunder, 40%);
}

.entry-header .entry-meta {
	margin: 24px 0;
}

.entry-footer .entry-meta::before {
	border-top: 1px solid lighten($color-thunder, 80%);
	content: "";
	display: block;
	padding-bottom: 32px;
	width: 10%;
}

.entry-comments-link::before {
	content: "♥";
	margin: 0 6px 0 2px;
	color: $color-buttercup;
}

.entry-categories,
.entry-tags {
	display: block;
}

.page-id-4557 .entry-content .checklist {
	margin-bottom: 24px;
	p {
		margin-bottom: 0;
		input {
			margin-right: 10px;
		}
		&.checked {
			color: #ccc;
		}
	}
}

/* After Entry
--------------------------------------------- */

.after-entry {
	background-color: $color-thunder;
	color: #fff;
	margin-bottom: 40px;
	padding: 8%;
	text-align: center;
}

.after-entry .widgettitle {
	color: #fff;
	font-size: 20px;
}

.after-entry .entry-title a,
.after-entry .widget .entry-meta a:hover {
	color: #fff;
}

.after-entry .widget .entry-meta a {
	color: #ccc;
}

.after-entry .entry-title a:hover {
	color: #40B2E2;
}

.after-entry p:last-child {
	margin: 0;
}

.after-entry li {
	list-style-type: none;
}

.after-entry li a {
	color: #999;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	clear: both;
	margin: 40px 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: darken($color-buttercup, 20%);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: $color-buttercup;
	color: #fff;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

li.comment.bypostauthor {
	border-left: 10px solid #ccc;
}

.comment .avatar {
	margin: 0 16px 24px 0;
	border-radius: 3px;
}

.comment-header {
	font-size: 16px;
	line-height: 1.4;
}

.comment-header .comment-meta {
	margin-bottom: 12px;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}

/* Portfolio section
--------------------------------------------- */

.post-type-archive-lp_portfolio .entry.lp_portfolio {
    padding-bottom: 0;
    border: 3px solid #f5f5f5;
		position: relative;
}

.post-type-archive-lp_portfolio .lp_portfolio {
	@include transition(all, 0.3s, ease-in);

	.entry-header {
		visibility: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		font: 0/0 a;
		background: none;

		&:before {
			content: ' ';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		.entry-title {
			vertical-align: middle;
			display: none;
			text-align: center;
			margin: 0 auto;
			box-sizing: border-box;
			width: 100%;
			padding: 5px 20px;
			background: none;
		}
	}

	.entry-content {
		line-height: 0;
    height: auto;
    display: block;

		.portfolio-image a {
			border-bottom: none;
			margin-bottom: 0;
		}
	}

	// when portfolio item hovered
	&:hover {
		.entry-header {
		    vertical-align: middle;
		    display: inline-block;
				visibility: visible;
				background: rgba(255,255,255,0.85);

				.entry-title {
					display: inline-block;
				}
		}
	}
}
