/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	border-top: 3px solid $color-thunder;
	background-color: $color-thunder;
	//background: url('images/home.png');
	background-size: cover;
	color: $color-ecruwhite;
	clear: both;
	padding: 60px 0 16px;
	font-size: 90%;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 29.824561403509%; /* 340px / 1140px */
}

.footer-widgets-1 {
	margin-right: 5.263157894737%; /* 60px / 1140px */
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets a,
.footer-widgets .entry-meta a {
	color: #aaa;
}

.footer-widgets a:hover {
	color: #fff;
}

.footer-widgets .widget {
	margin-bottom: 24px;
}

.footer-widgets .widget-title {
	color: #fff;
	font-size: 20px;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ddd;
}

a.social-buttons {
	background-color: #888;
	color: #fff;
	float: left;
	font-size: 14px;
	margin: 0 4px 4px 0;
	overflow: hidden;
	padding: 4px 8px;
	text-decoration: none;
}

a.social-buttons:hover {
	background-color: #fff;
	color: #3a3b39;
}
