/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #fff;
}

.enews-widget .widget-title {
	color: #fff;
}

.enews-widget input {
	margin-bottom: 12px;
}

.enews-widget input:focus {
	border: 1px solid #ddd;
}

.enews-widget input[type="submit"] {
	background-color: #27b4b2;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"],
#services a.button:hover {
	background-color: #fff;
	color: #222;
}

.enews form + p,
.enews form + p:last-child {
	margin-top: 24px;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}

/* Lightweight Social Icons
--------------------------------------------- */

.icon-set-lsi_widget-2 a, .icon-set-lsi_widget-2 a:visited, .icon-set-lsi_widget-2 a:focus {
	background: $color-buttercup !important;
	font-size: 18px !important;
}

/* Gravity Forms
------------------------------------------ */

.gform_wrapper .left_label .gfield_label {
	font-weight: normal !important;
}

/* SB Instagram */

#sbi_images {
  margin-right: -20px;
  margin-left: -20px;
}
