/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar p:last-child,
.sidebar ul {
	margin-bottom: 0;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 32px;
	overflow: hidden;
}

.sidebar .widget::after {
	border-bottom: 1px solid #3a3b39;
	content: "";
	display: block;
	padding-bottom: 32px;
	width: 20%;
}

.sidebar .enews {
	background-color: #3a3b39;
	margin-bottom: 8px;
	padding: 32px;
}

.sidebar .widget.enews-widget::after {
	border-bottom: none;
	padding-bottom: 0;
}
