/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	border-top: 1px solid #3a3b39;
	padding: 48px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}

.site-footer a {
	color: #3a3b39;
}

.site-footer a:hover {
	color: #40B2E2;
}
