/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header .wrap {
  box-shadow: 0 4px 2px -2px #DEDEDE;
	overflow: hidden;
	padding: 32px 0;
}

.mpp-home .site-header .wrap {
	border: none;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 12px 0;
	width: 35%;
}

.header-image .title-area {
	padding: 0;
}

.site-title {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1;
	margin: 0 0 8px;
	text-transform: lowercase;
}

.site-title a,
.site-title a:hover {
	color: #222;
	text-decoration: none;
}

.site-title a::before {
	background-color: #222;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Merriweather', serif;
	height: 48px;
	line-height: 2.1;
	margin-right: 12px;
	padding: 3px 4px;
	text-align: center;
	width: 48px;
	text-transform: uppercase;
}

.site-title a:hover::before {
	background-color: #27b4b2;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-weight: 300;
	height: 0;
	line-height: 1;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-title a {
	float: left;
	min-height: 100px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	padding-top: 33px;
	width: 60%;
}

.site-header .widget {
	margin-bottom: 0;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}
