/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	border-top: 3px solid #fff;
	background: url("images/background.jpg");
	background-position: center;
	background-size: cover;
	font-size: 0.8em;
	padding: 48px 0;
	text-align: center;
	color: #aaa;
}

.site-footer p {
	margin-bottom: 0;
}

.site-footer a {
	color: #aaa;
}

.site-footer a:hover {
	color: #27b4b2;
}
