/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background: $color-thunder;
	color: $color-ecruwhite;
	padding: 24px 0;
	text-align: center;
	font-size: 0.8em;

	p {
		margin-bottom: 0;
	}

	a {
		color: $color-ecruwhite;

		&:hover {
			color: $color-buttercup;
		}
	}
}
