/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
}

.site-inner {
	clear: both;
	margin: 141px auto 60px;
	max-width: 640px;
}

.lp-home .site-inner {
	padding: 0;
	max-width: 100%;
}

.category-portfolio .site-inner {
	margin: 120px auto 60px;
}

.lp-landing .site-inner {
	border: 1px solid #3a3b39;
	max-width: 700px;
	margin: 32px auto;
	padding: 48px 60px 0;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: right;
	width: 64.912280701754%; /* 740px / 1140px */
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 29.824561403509%; /* 340px / 1140px */
}

.sidebar-content .sidebar-primary {
	float: left;
}


/* Column Classes
   Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}
