/*
Theme Colors
---------------------------------------------------------------------------------------------------- */

/* Modern Portfolio Pro Blue
--------------------------------------------- */

.modern-portfolio-pro-blue .after-entry .entry-title a:hover,
.modern-portfolio-pro-blue .entry-meta a:hover,
.modern-portfolio-pro-blue .entry-title a:hover,
.modern-portfolio-pro-blue .genesis-nav-menu > .right > a:hover,
.modern-portfolio-pro-blue .site-footer a:hover,
.modern-portfolio-pro-blue .site-header .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.modern-portfolio-pro-blue .site-header .genesis-nav-menu a:hover,
.modern-portfolio-pro-blue a {
	color: #13b4f2;
}

.modern-portfolio-pro-blue .footer-widgets .entry-meta a,
.modern-portfolio-pro-blue .footer-widgets .entry-title a,
.modern-portfolio-pro-blue .footer-widgets a {
	color: #aaa;
}

.modern-portfolio-pro-blue .after-entry .entry-title a,
.modern-portfolio-pro-blue .footer-widgets a:hover,
.modern-portfolio-pro-blue .genesis-nav-menu a:hover,
.modern-portfolio-pro-blue a.button,
.modern-portfolio-pro-blue a.button:hover,
.modern-portfolio-pro-blue a.social-buttons {
	color: #fff;
}

.modern-portfolio-pro-blue .entry-meta a,
.modern-portfolio-pro-blue .entry-title a,
.modern-portfolio-pro-blue .genesis-nav-menu a,
.modern-portfolio-pro-blue .sidebar .widget-title a,
.modern-portfolio-pro-blue .site-footer a,
.modern-portfolio-pro-blue .site-title a,
.modern-portfolio-pro-blue .site-title a:hover,
.modern-portfolio-pro-blue a:hover,
.modern-portfolio-pro-blue a.social-buttons:hover {
	color: #3a3b39;
}

.modern-portfolio-pro-blue .enews-widget input[type="submit"],
.modern-portfolio-pro-blue .genesis-nav-menu li.highlight-menu-item a:hover,
.modern-portfolio-pro-blue .archive-pagination li a:hover,
.modern-portfolio-pro-blue .archive-pagination li.active a,
.modern-portfolio-pro-blue .site-title a:hover::before,
.modern-portfolio-pro-blue #services a.button,
.modern-portfolio-pro-blue a.button,
.modern-portfolio-pro-blue button,
.modern-portfolio-pro-blue input[type="button"],
.modern-portfolio-pro-blue input[type="reset"],
.modern-portfolio-pro-blue input[type="submit"] {
	background-color: #13b4f2;
}

.modern-portfolio-pro-blue .enews-widget input:hover[type="submit"],
.modern-portfolio-pro-blue #services a.button:hover {
	background-color: #fff;
}

.modern-portfolio-pro-blue button:hover,
.modern-portfolio-pro-blue input:hover[type="button"],
.modern-portfolio-pro-blue input:hover[type="reset"],
.modern-portfolio-pro-blue input:hover[type="submit"],
.modern-portfolio-pro-blue .button:hover {
	background-color: #333;
}
